header{
    background: #050505;
    padding: 40px 0px;
}

header ul{
    padding: 0px;
    text-align: center;
    list-style: none;
}

header ul li{
    display: inline-block;
}

header ul li a{
    color:white;
    text-decoration: none;
}

.facebook img{
    width: 85px;
    transition: .4s all;
}

.facebook img:hover{
    transform: rotate(360deg);
}

.instagram img{
    width: 85px;
    animation: logo-instragram 5s infinite linear;
    border-radius: 50%;
}

@keyframes logo-instragram{
    0%{-webkit-transform: rotateZ(360deg);}
    100%{-webkit-transform: rotateZ(0deg);}
    0%{-moz-transform: rotateZ(360deg);}
    100%{-moz-transform: rotateZ(0deg);}
    
}

.instagram img:hover{
    animation-play-state: paused;
}

.google-plus img{
    width: 85px;
    animation: logo-google 5s infinite linear;
}

.google-plus img:hover{
    transform: translateX(460px);
}
